@font-face {
    font-family: Kanit;
    src: url(/Fonts/Kanit-Black.ttf);
}

@font-face {
    font-family: digital-7;
    src: url(/Fonts/digital-7.ttf);
}

* {
    font-family: Kanit, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(skyblue,blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;


}

#cal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 3px solid black;
    box-shadow: -5px -5px 30px white, 5px 5px 30px wheat;
    color: #B9BF9E;
    background-color: #34333C;
    border-radius: 10px;

}

main {
    display: flex;
    align-self: center;

}


.cal-Header{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 10px;


}


.cal-name {
    flex: 1;
    font-size: 30px;

}

.cal-solar {
    flex-grow: 1;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    justify-items: start;


}

.cal-model {
    flex: 1;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.Display {
    display: flex;
    box-shadow: inset 10px 10px 5px rgb(0, 0, 0), inset -10px -10px 5px;
    margin: auto;
    width: 90%;
    background-color: #BCE4CB;
}

.display-number {
    width: 100%;
    height: 40px;
    text-align: end;
    font-size: 50px;
    font-family: digital-7, Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}

.Buttons {
    
    display: grid;
    grid-template: repeat(4,1fr)/repeat(6,1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 15px;
    padding: 10px;
}


.btn{
    width: 70px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    margin: 5px;
    border: 2px solid black;
}

.zero{
    grid-column: 1;
}

.twozeros{
    grid-column: 2;
}

.addition{
    height: 100%;
    grid-column: 5;
    grid-row: 3/5;
}

.AC,.C{
    background-color: #CB4B76;
}
